{% extends 'core/base.html' %}
{% block content %}
<!-- Error Page -->
<section class="error-page section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-12">
                <!-- Error Inner -->
                <div class="error-inner">
                    <h1>202<span>Submitted successfully.
                    </span></h1>
                    <p>Please keep an eye on your email, we will send you a reply there.</p>
                </div>
                <!--/ End Error Inner -->
            </div>
        </div>
    </div>
</section>
<!--/ End Error Page -->
{% endblock content %}