{% extends "core/base.html" %}
{% load static %}
{% block content %}
	<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>Blog</h2>
							<ul class="bread-list">
								<li><a href="{% url 'blog' %}">Blog List</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active">Blog Detail</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->

		<!-- Single News -->
		<section class="news-single section">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-12">
						<div class="row">
							<div class="col-12">
								<div class="single-main">
									<!-- News Head -->
									<div class="news-head">
										<img src="{{object.image.url}}" alt="#">
									</div>
									<!-- News Title -->
									<h1 class="news-title"><a href="#">{{object.title}}</a></h1>
									<!-- Meta -->
									<div class="meta">
										<div class="meta-left">
											<span class="author mt-2"><a href="#">{{object.user_published.username}}</a></span>
											<span class="date mb-2"><i class="fa fa-clock-o"></i>{{object.created_at}}</span>
										</div>
									</div>
									<!-- News Text -->
									<div class="news-text">
										<p>{{object.content}}</p>
										<blockquote class="overlay">
											<p>{{object.article}}</p>
										</blockquote>
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="blog-comments">
									<h2>All Comments</h2>
									<div class="comments-body">
										<!-- Single Comments -->
										{% load comment %} {% get_comment_list object as comments %}
										{% for comment in comments %}
										<div class="single-comments">
											<div class="main">
												<div class="body">
													<h4>{{comment.user_published.username}}</h4>
													<div class="comment-meta"><span class="meta"><i class="fa fa-calendar"></i>{{comment.created_at}}</span><span class="meta"><i class="fa fa-clock-o"></i>03:38 AM</span></div>
													<p>{{comment.comment}}</p>
													{% if request.user.is_authenticated and comment.user_published == request.user or request.user.is_superuser %}
													<a href="{% url 'blog-detail-delete' comment.id %}"><i class="fa fa-warning"></i>Delete</a>
													{% endif %}
												</div>
											</div>
										</div>
										{% endfor %}
										<!--/ End Single Comments -->
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="comments-form">
									<h2>Leave Comments</h2>
									<!-- Contact Form -->
									{% if request.user.is_authenticated %} 
									{% load form_comment %} {% show_comment_form %}
									{% else %}
									<section class="error-page section">
										<div class="container">
										  <div class="row">
											<div class="col-lg-10">
											  <!-- Error Inner -->
											  <div class="error-inner">
												  <span
													>
													Oop's you can't send comments. You need log in</span
												  >
												  <br/>
												<button type="submit" class="btn mt-2"><a href="{% url 'login' %}">Log In</a></button>
											  </div>
											  <!--/ End Error Inner -->
											</div>
										  </div>
										</div>
									  </section>	
									{% endif %}
									<!--/ End Contact Form -->
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-12">
						<div class="main-sidebar">
							<!-- Single Widget -->
							<!--/ End Single Widget -->
							<!-- Single Widget -->
							<!--/ End Single Widget -->
							<!-- Single Widget -->

							<div class="single-widget side-tags">
								<h3 class="title">Tags</h3>
								<ul class="tag">
									<li><a href="{% url 'home' %}#arrived">Book Appointment</a></li>
									<li><a href="{% url 'contact' %}">Contact us</a></li>
								</ul>
							</div>
							<!--/ End Single Widget -->
							<!--/ End Single Widget -->
							<!-- Single Widget -->
							<!--/ End Single Widget -->
							<!-- Single Widget -->
							<!--/ End Single Widget -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Single News -->
{% endblock content %}