{% extends "core/base.html" %}
{% load static %}
{% block content %}
	<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>Blog</h2>
							<ul class="bread-list">
								<li><a href="{% url 'home' %}">Home</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active">Blog</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->
		{% include "blog/includes/post_menu.html" %}

		<!-- Single News -->
		<div class="container">
			<div class="row">
				{% for post in object_list %}
				<div class="col-12 col-md-6 col-lg-4">
					<section class="news-single section">
						<div class="single-main">
							<!-- News Head -->
							<div class="news-head">
								{% if post.image %}
									<img src="{{ post.image.url }}" alt="#">
								{% else %}
									<img src="{% static 'path/to/default-image.jpg' %}" alt="No image available">
								{% endif %}
							</div>
							<!-- News Title -->
							<h1 class="news-title"><a href="{% url 'blog-detail' post.id %}">{{ post.title|striptags|safe|truncatechars:"50" }} Read More...</a></h1>
							<!-- Meta -->
							<div class="meta">
								<div class="meta-left">
									<span class="author">{{ post.user_published.username }}</span>
									<span class="date"><i class="fa fa-clock-o"></i>{{ post.created_at|date:"SHORT_DATE_FORMAT" }}</span>
								</div>
							</div>
							<!-- News Text -->
							<div class="news-text">
								<p>{{ post.content|striptags|safe|truncatechars:"50"}}</p>
								<blockquote class="overlay">
									<p>{{ post.article|striptags|safe|truncatechars:"50"}}</p>
								</blockquote>
							</div>
							{% if request.user.is_staff %}
							<button class="btn"><a href="{% url 'blog-update' post.id %}">Edit</a></button>
							<button class="btn"><a href="{% url 'blog-delete' post.id %}">Delete</a></button>
							{% endif %}
						</div>
					</section>
				</div>
				{% endfor %}
			</div>
		</div>
		
		<!--/ End Single News -->
{% endblock content %}