<form class="form" method="post" action="">
    {% csrf_token %}
    <input type="hidden" name="post_id" value="{{ post.id }}">
    <div class="row">
        <div class="col-12">
            <div class="form-group message">
                <i class="fa fa-pencil"></i>
                {% if form %}
                    {{ form.comment }}
                {% else %}
                    <p>No form available</p>
                {% endif %}
            </div>
        </div>
        <div class="col-12">
            <div class="form-group button">
                <button type="submit" class="btn primary"><i class="fa fa-send"></i>Submit Comment</button>
            </div>
        </div>
    </div>
</form>